html, body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  min-width: 1300px;
  margin: 0;
}

.head {
  width: 100%;
  height: 80px;
  padding-bottom: 10px;
  position: fixed;
  background-color: white;
  z-index: 999;
  clear: both;
  min-width: 1300px;
}

.head .head-img img {
  float: left;
  width: 8%;
  height: 80px;
  margin-right: 50px;
}

.head #head-menu {
  padding-left: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.head #head-menu #menu {
  float: left;
  width: 6%;
  text-align: center;
  line-height: 80px;
  color: rgb(107, 101, 101);
  font-size: 2.5em;
  text-decoration: none;
}

.head .head-search {
  width: 20%;
  float: left;
  line-height: 80px;
  margin-left: 80px;
}

.head #head-menu1 {
  /*margin: 0 30px 0 0;*/
  /*float: right;*/
  /*padding: 0;*/
  list-style-type: none;
}

.head #head-menu1 #menu {
  float: left;
  margin-left: 30px;
  text-align: center;
  line-height: 80px;
  text-decoration: none;
  color: rgb(107, 101, 101);
  font-size: 2.5em;
}

.ibody {
  position: relative;
  overflow: hidden;
  margin: 0 120px 0 120px;
  border-radius: 8px;
  padding-top: 120px;
  min-width: 1300px;
}

.ibody .div1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
  border-radius: 8px;
}

.ibody .div1 .aa {
  background-color: rgb(63, 58, 58);
  float: left;
  position: relative;
  width: 20%;
  height: 430px;
  text-align: left;
  z-index: 2;
  box-sizing: border-box;
  padding-left: 30px;
  border-bottom-left-radius: 4px;
  font-weight: 400;
}

.ibody .div1 .aa .item {
  height: 50px;
  line-height: 30px;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 12px;
  margin-top: 10px;
  position: relative;
}

.ibody .div1 .aa .item #a1:hover {
  background-color: rgb(214, 202, 202);
}

.ibody .div1 .aa .item #a1:hover .dropdown-content {
  display: unset;
}

.ibody .div1 .aa #a1 {
  color: rgb(180, 173, 173);
  text-decoration: none;
  font-size: 1.5em;
  line-height: 50px;
}

/* 容器 <div> - 需要定位下拉内容 */

.ibody .div1 .aa .item .dropdown-content {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: white;
  width: 400%;
  height: 410px;
  left: 100%;
  top: -20px;
  padding: 30px 0 0 30px;
  margin: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.ibody .div1 .aa .item .dropdown-content .dc {
  width: 100%;
}

.ibody .div1 .aa .item .dropdown-content .dc1 {
  color: black;
  line-height: 30px;
}

.ibody .div1 .aa .item .dropdown-content ul {
  list-style-type: none;
  color: black;
  padding: 0;
  text-decoration: none;
  display: block;
}

.ibody .div1 .aa .item .dropdown-content .xs1 {
  padding-bottom: 90px;
}

.ibody .div1 .aa .item .dropdown-content .xs1 #xs11 {
  color: black;
  text-decoration: none;
}

.ibody .div1 .aa .item .dropdown-content #xs11:hover {
  color: rgb(230, 230, 168);
}

.ibody .div1 .aa .item .dropdown-content .xs2 {
  float: left;
  width: 45%;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 8px;
}

.ibody .div1 .aa .item .dropdown-content .xs2 .xs21 {
  float: left;
  width: 100%;
}

.ibody .div1 .aa .item .dropdown-content .xs2 .xs21 .xs221 {
  float: left;
  width: 20%;
}

.ibody .div1 .aa .item .dropdown-content .xs2 .xs21 .xs221 #img21 {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.ibody .div1 .aa .item .dropdown-content .xs2 .xs21 .xs222 {
  color: black;
  width: 100%;
  position: relative;
}

.ibody .div1 .aa .item .dropdown-content .xs2 .xs21 .xs222 .xsmess21 {
  color: black;
  font-size: 1em;
  margin: 0 0 0 80px;
}

.ibody .div1 .aa .item .dropdown-content .xs2 .xs21 .xs222 .xsmess21 #xsmss21 {
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-size: 1.4em;
}

.ibody .div1 .aa .item .dropdown-content .xs2 .xs21 .xs222 .xsmess21 #xsmss21:after {
  content: "...";
}

.ibody .div1 .aa .item .dropdown-content .xs2 .xs21 .xs222 .xsmess22 {
  color: rgb(177, 165, 165);
  font-size: 1.1em;
  margin: 0 0 0 80px;
}

.ibody .div1 .aa .item .dropdown-content .xs2 .xs21 .xs222 .xsmess22 #xsmss22 {
  color: rgb(99, 94, 94);
  font-size: 1.3em;
}

.ibody .div1.swiper-container {
  width: 100%;
  height: 100%;
}

.ibody .div1.swiper-slide {
  text-align: center;
  font-size: 1.8em;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.ibody .div1 .swiper-container .swiper-wrapper .swiper-slide #imga {
  width: 100%;
  height: 430px;
}

.ibody .div2 {
  padding-top: 20px;
  float: left;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 8px;
}

.ibody .div2 .bb {
  padding-bottom: 30px;
  padding-top: 20px;
}

.ibody .div2 .bb #bs1 {
  float: left;
  font-size: 4em;
}

.ibody .div2 .bb #bs2 {
  color: slategray;
  line-height: 32px;
  margin-left: 15px;
  font-size: 2.5em;
}




.ibody .div2 .cc {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width: 100%;

}

.ibody .div2 .cc .c1{
  width: 25%;
}
.ibody .div2 .cc .c1 #img2 {
  float: left;
  height: 90px;
}

.ibody .div2 .cc .c1 #a1 {
  text-decoration: none;
}

.ibody .div2 .cc .c1 #s1 {
  color: black;
  font-size: 3em;
}
.ibody .div2 .cc .c1 #p1 {
  font-size: 1em;
  color: rgb(58, 54, 54);
}


.ibody .div3 {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 8px;
}

.ibody .div3 .dd {
  padding-bottom: 30px;
  padding-top: 20px;
}

.ibody .div3 .dd #bs3 {
  float: left;
  font-size: 4em;
}

.ibody .div3 .dd #bs4 {
  color: slategray;
  line-height: 32px;
  margin-left: 15px;
  font-size: 2.5em;
}

.ibody .div3 .ee {
  display: flex;
  justify-content: space-around;
}

.ibody .div3 .ee #img3 {
  width: 22%;
}

.ibody .div4 {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 8px;
}

.ibody .div4 .ff {
  padding-bottom: 30px;
  padding-top: 20px;
}

.ibody .div4 .ff #bs5 {
  font-size: 4em;
}

.ibody .div4 .gg1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.ibody .div4 .gg {
  width: 25%;
}

/* .ibody .div4 .gg .ga1 {
  float: left;
  margin-top: 20px;
} */

.ibody .div4 .gg .ga1 #img4 {
  float: left;
  width: 94%;
  border-radius: 25px;
}

.ibody .div4 .gg .ga2 {
  float: left;
  width: 85%;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.ibody .div4 .gg .ga2 .mss3 {
  font-size: 2.5em;
  color: black;
}

.ibody .div4 .gg .ga2:hover {
  color: red;
}

.ibody .div4 .gg .ga2 .mss1 {
  font-size: 2.5em;
}

.ibody .div4 .gg .ga2 .mss1 #mss {
  color: red;
}

.ibody .div4 .gg .ga2 .mss2 {
  font-size: 2em;
  color: rgb(192, 174, 174);
}

.ibody .div4 .gg .ga2 .mss2 .mss21 {
  float: right;
}

.ibody .div4 .gg .ga2 #mss22 {
  font-size: 2.5em;
}

.ibody .div5 {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 8px;
  min-width: 1200px;
}

.ibody .div5 .hh {
  padding-bottom: 30px;
}

.ibody .div5 .hh #bs6 {
  float: left;
  font-size: 4em;
  margin-right: 5px;
}

.ibody .div5 .hh .div5-menu {
  height: 36px;
  line-height: 36px;
}

.ibody .div5 .hh .div5-menu ul {
  list-style-type: none;
}

.ibody .div5 .hh .div5-menu .menu5 {
  width: 8%;
  font-size: 2.5em;
  color: rgb(107, 101, 101);
  text-align: center;
  display: inline-block;
  line-height: 26px;
  text-decoration: none;
}

.ibody .div5 .ll {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width: 100%;
}

.ibody .div5 .ll .l1 {
  width: 50%;

}

.ibody .div5 .ll .l1 #la {
  text-decoration: none;
}

.ibody .div5 .ll .l1 .l11 {
  float: left;
  width: 20%;
  /* text-decoration: none; */
}

.ibody .div5 .ll .l1 .l11 #img5 {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.ibody .div5 .ll .l1 .l12 {
  color: black;
  width: 100%;
  position: relative;
}

.ibody .div5 .ll .l1 .l12 .mess1 {
  color: black;
  font-size: 3em;
  margin: 0 20px 30px 160px;
}

.ibody .div5 .ll .l1 .l12 .mess1 #mss11 {
  margin: 0;
}

.ibody .div5 .ll .l1 .l12 .mess1 #mss11:hover {
  color: red;
}

.ibody .div5 .l1 .l12 .mess1 #mss12 {
  color: rgb(99, 94, 94);
  font-size: 0.8em;
}

.ibody .div5 .ll .l1 .l12 .mess2 {
  margin: 35px 20px 35px 160px;
  color: rgb(138, 133, 133);
  font-size: 2em;
}

.ibody .div6 {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 8px;
}

.ibody .div6 .mm {
  padding-bottom: 30px;
}

.ibody .div6 .mm #bs7 {
  float: left;
  font-size: 4em;
}

.ibody .div6 .mm .div6-menu {
  height: 36px;
  line-height: 36px;
  margin: 15px 0 10px 0;
}

.ibody .div6 .mm .div6-menu ul {
  list-style-type: none;
}

.ibody .div6 .mm .div6-menu .menu6 {
  width: 8%;
  text-align: center;
  display: inline-block;
  line-height: 26px;
  color: black;
  text-decoration: none;
}

.ibody .div6 .nn6 {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width: 100%;

}

.ibody .div6 .nn{
  width: 25%;
}
.ibody .div6 .nn .na1 {
  float: left;
  margin: 10px;
}

.ibody .div6 .nn .na1 #img6 {
  float: left;
  width: 94%;
  border-radius: 25px;
}

.ibody .div6 .nn .na2 {
  float: left;
  width: 85%;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.ibody .div6 .nn .na2:hover {
  color: red;
}

.ibody .div6 .nn .na2 .mss4 {
  font-size: 2.5em;
  color: black;
}

.ibody .div6 .nn .na2 .mss5 {
  font-size: 2em;
  color: rgb(192, 174, 174);
}

.ibody .div6 .nn .na2 .mss5 .mss51 {
  float: right;
}

.ibody .div6 .nn .na2 .mss6 {
  font-size: 2.5em;
  color: rgb(102, 93, 93);
}

.ibody .div6 .nn .na2 .mss6 #mss6:hover {
  color: red;
}

.ibody .div7 {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.ibody .div7 .oo {
  padding-bottom: 60px;
}

.ibody .div7 .oo #bs8 {
  float: left;
  font-size: 4em;
  margin-right: 5px;
}

.ibody .div7 .oo .menu7 {
  float: right;
  text-align: center;
  line-height: 26px;
  color: black;
  text-decoration: none;
  font-size: 2.5em;
}

.ibody .div7 .pp {
  clear: both;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width: 100%;
  height: 400px;
}


.ibody .div7 .pa1 {
  width: 30%;
}

.ibody .div7 .pa1 .pa12 {
  float: left;
  width: 30%;
  height: 162.55px;
}

.ibody .div7 .pa1 .pa12 a {
  color: blue;
  text-decoration: none;
  font-size: 2em;
}

.ibody .div7 .pa1 .pa12 .pa13 {
  float: left;
  width: 100%;
}

.ibody .div7 .pa1 .pa12 .pa13 #img7 {
  width: 90%;
}

.ibody .div7 .pa1 .pa12 #pa .pa14 {
  clear: both;
}

.ibody .div7 .pa1 .pa22 #hh4 {
  margin: 0;
  font-size: 3em;
  height: 41.6px;
}

.ibody .div7 .pa1 .pa22 #hh4:hover {
  color: rgb(33, 33, 214);
}

.ibody .div7 .pa1 .pa22 .pa23 {
  color: rgb(99, 94, 94);
  font-size: 2em;
}

.ibody .div7 .pa1 .pa22 .mss5 {
  font-size: 2.5em;
  margin: 0 0 35px 0;
}

.ibody .div7 .pa1 .pa22 .mss5:hover {
  color: red;
}

.ibody .div7 .pa1 .pa22 .mss6 #mss61 {
  font-size: 3em;
  color: blue;
}

.ibody .div7 .pa1 .pa22 .mss6 #mss62 {
  font-size: 2.5em;
  color: rgb(102, 93, 93);
}

.ibody .div7 .pa1 .pa22 .mss6 #mss63 {
  font-size: 2em;
  color: white;
  background-image: linear-gradient(rgb(33, 74, 211), rgb(31, 147, 214));
}

.ibody .div8 {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.ibody .div8 .qq1 ul {
  list-style-type: none;
}

.ibody .div8 .qq1 #menu8 {
  margin: 0 5px 0 5px;
  font-size: 2em;
  text-align: center;
  display: inline-block;
  line-height: 26px;
  text-decoration: none;
  color: rgb(99, 94, 94);
}

.ibody .div8 .qq1 #menu9 {
  font-size: 2em;
  text-align: center;
  display: inline-block;
  line-height: 26px;
  text-decoration: none;
  color: rgb(99, 94, 94);
}