html * {
  margin: 0;
  padding: 0;
}
html ul,
html ol,
html li {
  list-style: none;
}
html h1,
html h2,
html h3 {
  font-size: 16px;
}
html img {
  display: block;
}
html a {
  text-decoration: none;
  color: #9199A1;
}
body {
  font-size: 62.5%;
  color: #1c1f21;
}
#title {
  width: 100%;
  height: 12em;
  display: flex;
  justify-content: center;
}
#title .counter {
  background: url(../img/signlogo.png) no-repeat center center;
  width: 384px;
  height: 4.6em;
  margin-top: 5em;
  text-indent: 100%;
}
#main {
  width: 100%;
  height: 39.2em;
}
#main .login {
  width: 38.4em;
  height: 39.2em;
  box-shadow: 0 12px 24px 0 rgba(28, 31, 33, 0.1);
  margin: 2em auto 0;
  border-radius: 1.2em;
}
#main .login_head {
  width: 38.4em;
  height: 7.4em;
  margin-top: 1.2em;
  top: 1em;
  position: relative;
}
#main .login_head h1 {
  width: 344px;
  height: 49px;
  font-size: 1.6em;
  line-height: 4.9em;
  color: #787d82;
  margin: auto;
}
#main .login_head h1 span {
  display: block;
  float: left;
  width: 80px;
  text-align: center;
  height: 49px;
  line-height: 49px;
  cursor: pointer;
  color: red;
}
#main .login_head h1 span p {
  content: " ";
  width: 16px;
  height: 4px;
  line-height: 4px;
  background: #f20d0d;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
}
#main .login_body_login {
  display: none;
  width: 38.4em;
  height: 22.2em;
  position: relative;
  top: 1em;
}
#main .login_body_login .login_sign {
  width: 32em;
  height: 21.8em;
  margin: auto;
}
#main .login_body_login .login_sign .sign_email {
  width: 32em;
  height: 6.8em;
}
#main .login_body_login .login_sign .sign_email input {
  width: 100%;
  height: 48px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 14px;
  box-shadow: 2px 0 5px 0 #fff;
  background: rgba(28, 31, 33, 0.06);
  border-radius: 8px;
  border: 0;
  outline: none;
}
#main .login_body_login .login_sign .sign_email input:focus {
  border: 1px solid rgba(28, 31, 33, 0.06);
}
#main .login_body_login .login_sign .sign_email .email_show {
  font-size: 12px;
  color: red;
  line-height: 20px;
  display: none;
}
#main .login_body_login .login_sign .sign_email .wrong {
  display: block;
}
#main .login_body_login .login_sign .sign_pas {
  width: 32em;
  height: 6.8em;
}
#main .login_body_login .login_sign .sign_pas input {
  width: 100%;
  height: 48px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 14px;
  box-shadow: 2px 0 5px 0 #fff;
  background: rgba(28, 31, 33, 0.06);
  border-radius: 8px;
  border: 0;
  outline: none;
}
#main .login_body_login .login_sign .sign_pas input:focus {
  border: 1px solid rgba(28, 31, 33, 0.06);
}
#main .login_body_login .login_sign .sign_pas .search1 {
  width: 100%;
  height: 48px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 14px;
  box-shadow: 2px 0 5px 0 #fff;
  background-color: rgba(28, 31, 33, 0.06) !important;
  border-radius: 8px;
  border: 0;
  background: url(../img/closeeye.png) no-repeat right center;
  background-size: 10%;
}
#main .login_body_login .login_sign .sign_pas .pas_show {
  font-size: 12px;
  color: red;
  line-height: 20px;
  display: none;
}
#main .login_body_login .login_sign .sign_pas .wrong {
  display: block;
}
#main .login_body_login .login_sign .sign_check {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
#main .login_body_login .login_sign .sign_check .checkbox_right:nth-child(1) {
  background: rgba(28, 31, 33, 0.1);
}
#main .login_body_login .login_sign .style_box {
  height: 20px;
}
#main .login_body_login .login_sign .sign_btu input {
  background: red;
  width: 320px;
  height: 48px;
  border: 0;
  border-radius: 24px;
  display: block;
  color: white;
  font-size: 16px;
  outline: none;
}
#main .wrong {
  display: block;
}
#main .login_body_form {
  display: none;
  width: 38.4em;
  height: 22.2em;
  top: 1em;
  position: relative;
}
#main .login_body_form .login_sign {
  width: 32em;
  height: 21.8em;
  margin: auto;
}
#main .login_body_form .login_sign .sign_phone {
  width: 32em;
  height: 6.8em;
}
#main .login_body_form .login_sign .sign_phone input {
  width: 100%;
  height: 48px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 14px;
  box-shadow: 2px 0 5px 0 #fff;
  background: rgba(28, 31, 33, 0.06);
  border-radius: 8px;
  border: 0;
  outline: none;
}
#main .login_body_form .login_sign .sign_phone input:focus {
  border: 1px solid rgba(28, 31, 33, 0.06);
}
#main .login_body_form .login_sign .sign_phone .phone_show {
  font-size: 12px;
  color: red;
  line-height: 20px;
  display: none;
}
#main .login_body_form .login_sign .sign_phone .wrong {
  display: block;
}
#main .login_body_form .login_sign .sign_test {
  width: 32em;
  height: 6.8em;
}
#main .login_body_form .login_sign .sign_test input {
  width: 100%;
  height: 48px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 14px;
  box-shadow: 2px 0 5px 0 #fff;
  background-color: rgba(28, 31, 33, 0.06) !important;
  background: url(../img/捕获.PNG) no-repeat right center;
  background-size: 20%;
  border-radius: 8px;
  border: 0;
  outline: none;
}
#main .login_body_form .login_sign .sign_test input:focus {
  border: 1px solid rgba(28, 31, 33, 0.06);
}
#main .login_body_form .login_sign .sign_test .test1 {
  width: 100%;
  height: 48px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 14px;
  box-shadow: 2px 0 5px 0 #fff;
  background-color: rgba(28, 31, 33, 0.06) !important;
  border-radius: 8px;
  border: 0;
}
#main .login_body_form .login_sign .sign_test .test_show {
  font-size: 12px;
  color: red;
  line-height: 20px;
  display: none;
}
#main .login_body_form .login_sign .sign_test .wrong {
  display: block;
}
#main .login_body_form .login_sign .sign_check {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
#main .login_body_form .login_sign .sign_check .checkbox_right:nth-child(1) {
  background: rgba(28, 31, 33, 0.1);
}
#main .login_body_form .login_sign .style_box {
  height: 20px;
}
#main .login_body_form .login_sign .sign_btu input {
  background: red;
  width: 320px;
  height: 48px;
  border: 0;
  border-radius: 24px;
  display: block;
  color: white;
  font-size: 16px;
  outline: none;
}
#main .wrong {
  display: block;
}
#main .logo_foot {
  clear: both;
  background-color: grey;
  width: 384px;
  height: 72px;
}
#main .logo_foot .foot_box {
  width: 324px;
  height: 24px;
  margin: 0;
  display: block;
}
